{% extends 'admin/object_history.html' %}
{% load i18n admin_urls %}

{% block content %}
<div id="content-main">
<div id="change-history" class="module">

{% if action_list %}
    <table>
        <thead>
        <tr>
            <th scope="col">{% translate 'Date/time' %}</th>
            <th scope="col">{% translate 'User' %}</th>
            <th scope="col">{% translate 'action'|capfirst %}</th>
        </tr>
        </thead>
        <tbody>
        {% for action in action_list reversed %}
        <tr>
            <th scope="row">{% if perms.admin.view_logentry %}
                  <a href="{% url 'admin:admin_logentry_change' action.pk %}">{{ action.action_time|date:"DATETIME_FORMAT" }}</a>
                {% else %}
                  {{ action.action_time|date:"DATETIME_FORMAT" }}
                {% endif %}
              </th>
            <td>{% if perms.auth.change_user %}
                  <a href="{% url 'admin:auth_user_change' action.user.pk %}">{{ action.user.get_username }}{% if action.user.get_full_name %} ({{ action.user.get_full_name }}){% endif %}</a>
                {% else %}
                  {{ action.user.get_username }}{% if action.user.get_full_name %} ({{ action.user.get_full_name }}){% endif %}
                {% endif %}</td>
            <td>{{ action.get_change_message }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <p class="paginator">
      {% if pagination_required %}
        {% for i in page_range %}
          {% if i == action_list.paginator.ELLIPSIS %}
            {{ action_list.paginator.ELLIPSIS }}
          {% elif i == action_list.number %}
            <span class="this-page">{{ i }}</span>
          {% else %}
            <a href="?{{ page_var }}={{ i }}" {% if i == action_list.paginator.num_pages %} class="end" {% endif %}>{{ i }}</a>
          {% endif %}
        {% endfor %}
      {% endif %}
      {{ action_list.paginator.count }} {% blocktranslate count counter=action_list.paginator.count %}entry{% plural %}entries{% endblocktranslate %}
    </p>
{% else %}
    <p>{% translate 'This object doesn’t have a change history. It probably wasn’t added via this admin site.' %}</p>
{% endif %}
</div>
</div>
{% endblock %}
